@font-face {
    font-family:Raleway;
    src: url(../../../../MoveMars2.0/Core/fonts/Raleway-Regular.ttf);
}
body {
    background: url("../../../../MoveMars2.0/Core/images/Mars_background2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: auto 0;
}

p, h1 {
    color:white;
}

.center_sect {
    width:35%;
    height: 25%;
    background-color: transparent;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    margin-top: 200px;

}

.center_text {
    font-size: 200%;
}

.action_pre-order {
    width:127px;
    height:38px;
    border:none;
    margin-top:10px;
    margin-left: 150px;
    cursor:pointer;
}

.content {
    margin-top: 150px;
}

/*Navigatiebalk*/
.titel {
    padding-left: 30px;
    order: 1;
}

ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#333;
}

li {
    float:left;
    font-family:Raleway, sans-serif;
}

li a {
    display:block;
    color:white;
    text-align:center;
    padding:30px 16px;
    text-decoration:none;
    height: 100%;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color:#111;
    color:white;
    opacity:.5;
}

.navigatiebalk {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}
 .left {
     order:2;
     flex-grow:1;  }

.right {
    order:4;
    flex-grow:1;
}

.middle {
    order:3;
    flex-grow:5;
}

.footer {
    position:fixed;
    bottom:0px;
    width: 100%;
    margin-bottom: 25px;
    margin-left: 25px;
    background-color: transparent;
    height: 100px;
}

/*Contactformulier*/

label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

/* Centre the page */
.body {
    display:block;
    margin:0 auto;
    width:576px;
}

/* Centre the form within the page */
form {
    margin:0 auto;
    width:459px;
}

.foto {
    width:50px;
    height: 50px;
    margin-right: 25px;
}


/* Style the text boxes */
input, textarea {
    width:439px;
    height:27px;
    background:#efefef;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
    -moz-border-radius:5px;     /*Firefox*/
    -webkit-border-radius:5px;  /*Chrome and Safari*/
    border-radius:5px;          /*Opera*/
}

textarea {
    height:213px;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;;
}

#submit {
    width:127px;
    height:38px;
    border:none;
    margin-top:20px;
    margin-bottom: 25px;
    cursor:pointer;
}
        #submit:hover {
            opacity: .9;
        }
.row {
     text-align: center;
 }

.links {
    padding-top: 20px;
}
